<div class="hand-container" [class.opponent-hand]="isOpponent">
  <div class="hand-cards">
    <div *ngFor="let card of cards; let i = index" 
         class="hand-card-wrapper animate-draw" 
         [style.animation-delay]="(i * 0.1) + 's'"
         [class.selectable]="!isOpponent && isActiveTurn"
         [class.selected]="selectedCardId === card.instanceId">
      <app-pokemon-card 
        [card]="card" 
        mode="battle" 
        [isFaceDown]="isOpponent"
        (click)="onCardClick(card)">
      </app-pokemon-card>
    </div>
  </div>
</div>
